.btn{
    background-color: #ffc929;
    color: black;
    width: 250px;
    height: 40px;
    font-size: 14px;
    border: 0;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.btnn :hover{
    cursor: pointer;
    background-color: #d7ae32;
}